@import "./scss/utilities/variables";
@import "./scss/base/reset";

.App {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background: radial-gradient(
      circle,
      rgba(49, 49, 49, 1) 13%,
      rgba(0, 0, 0, 1) 76%
    );

    .ActiveNavLink {
      border-bottom: 1px solid white;
    }

    h1 {
      color: $color-white;
      @extend %font-main;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;

      li {
        margin: 0 20px;

        a {
          color: $color-white;
          font-family: "Montserrat", serif;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
  }

  .ItemListContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 0;
    background-color: white;

    .ItemListContainer__title {
      border-bottom: 1px solid black;
    }

    .ItemList {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 70%;

      .Item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 30%;

        .imgItem {
          width: 10vw;
          height: 10vw;
          object-fit: contain;
          padding: 0 0 0.8rem;
        }

        section {
          background-color: darken($color: #fff, $amount: 3);
          padding: 1rem;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          h3 {
            @extend %font-main;
            padding: 0 0 0.7rem;
          }

          a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .ItemDetailContainer {
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-white;
    margin: 0 auto;
    padding: 0 0 5vh;
    justify-content: center;
    align-items: center;

    .ItemDetail {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 60vw;

      .CounterContainer {
        height: 15vh;
        width: 10vw;
        padding: 2vh 0;

        #addToCartContainer {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

        }
        
        .opacityZero {
          opacity: 0;
          transition: all 1s ease;
        }

        .displayNone {
          display: none;
        }

        /* ---- */
        #linkToCarrito {
          background-color: orange;
          border: 1px solid black;
          border-radius: 20px;
          padding: 1rem;
        }

        .ToCarritoBase {
          display: none;
        }

        .ToCarritoAfter {
          Link {
          }
        }
      }

      div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
      }

      img {
        width: 25vw;
        background: #eeeeee;
      }
    }
  }

  .CategoriesContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .CategoriesContainer__title {
      border-bottom: 1px solid black;
    }

    .Categories {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      article {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        img {
          width: 10vw;
        }
        .btnVisitar {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  #Counter {
    font-family: "Montserrat", serif;
    height: 40px;
    background: #4285eb;
    display: inline-flex;
    flex-flow: row nowrap;
    border-radius: 20px;

    button,
    input {
      width: 40px;
      border: 0;
      font-size: 2rem;
      background: #4285eb;
      color: $color-white;
      text-align: center;
      outline: none;
    }

    button {
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #2169d6;
      }
    }

    #Counter {
      font-size: 1.3rem;
      padding: 0 0.5rem;
    }
  }

  .CartSection {
    display: flex;
    flex-flow: column nowrap;

    .CartListSection {
      display: flex;

      .CartListContainer {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
  
        .CartItem {
          margin: 0 auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
  
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
