@import "./scss/utilities/variables";
@import "./scss/base/reset";

.App {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    height: 8rem;
    padding: 2rem 0;
    background: radial-gradient(
      circle,
      rgba(49, 49, 49, 1) 13%,  
      rgba(0, 0, 0, 1) 76%
    );

    .cartWidget {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      
      .bloonCart {
        position: absolute;
        top: 0;
        right: 0;
        background-color: violet;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .ActiveNavLink {
      border-bottom: 1px solid white;
    }

    h1 {
      color: $color-white;
      @extend %font-main;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;

      li {
        margin: 0 20px;

        a {
          color: $color-white;
          font-family: "Montserrat", serif;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
  }

  .ItemListContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 0;
    background-color: #39A2DB;

    .ItemListContainer__title {
      border-bottom: 1px solid black;
    }

    .ItemList {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 70%;

      .Item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 30%;
        background-color: lighten(#E8F0F2, 5);

        .imgItem {
          width: 10vw;
          height: 10vw;
          object-fit: contain;
          padding: 0 0 0.8rem;
        }

        section {
          background-color: #A2DBFA;
          padding: 1rem;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          h3 {
            @extend %font-main;
            padding: 0 0 0.7rem;
          }

          a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .ItemDetailContainer {
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-white;
    margin: 0 auto;
    padding: 5vh 0;
    justify-content: center;
    align-items: center;
    background-color: #E8F0F2 ;

    .ItemDetail {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 60vw;

      #linkToCarrito {
        background-color: orange;
        border: 1px solid black;
        border-radius: 20px;
        padding: 1rem;
      }

      .CounterContainer {
        height: 15vh;
        width: 10vw;
        padding: 2vh 0;

        #addToCartContainer {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
        }
      }

      div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
      }

      img {
        width: 25vw;
      }
    }
  }

  .CategoriesContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #E7E0C9;
    border-bottom: 5px solid #6B7AA1;

    .CategoriesContainer__title {
      border-bottom: 1px solid black;
      margin-bottom: 1rem;
    }

    .Categories {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      article {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        img {
          width: 10vw;
        }
        .btnVisitar {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  #Counter {
    font-family: "Montserrat", serif;
    height: 40px;
    background: #39A2DB;
    display: inline-flex;
    flex-flow: row nowrap;
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 0 0.5rem;

    button,
    input {
      width: 40px;
      border: 0;
      font-size: 2rem;
      background: #39A2DB;
      color: $color-white;
      text-align: center;
      outline: none;
    }

    button {
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: darken(#39A2DB, 10);
      }
    }
  }
  .btnAddToCart {
    border: none;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: $color-blue;
    cursor: pointer;
  }

  .CartSection {
    background-color: #39A2DB;
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;

    .CartListSection {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .CartListContainer {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .CartItem {
          width: 20%;
          margin: 0 auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #E8F0F2;

          .btnRemoveItem {
            margin: 1rem;
            border: none;
            background-color: $color-blue-accent;
            padding: 1rem;
            border-radius: 1rem;
            cursor: pointer;
          }

          img {
            width: 80%;
          }
        }
      }
    }
  }

  .cartBuy {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 2rem;
    }

    .cartBuyForm {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 20%;
      margin: 0 auto;

      button {
        margin: 1rem;
      }
    }
  }
}
