@import "./scss/utilities/variables";
@import "./scss/base/reset";

.App {

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background: radial-gradient(circle, rgba(49, 49, 49, 1) 13%, rgba(0, 0, 0, 1) 76%);

    h1 {
      color: $color-white;
      @extend %font-main;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;

      li {
        margin: 0 20px;

        a {
          color: $color-white;
          font-family: 'Montserrat', serif;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
  }

  .ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: white;

    .ItemList {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 70%;


      .Item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 30%;

        .imgItem {
          width: 10vw;
          height: 10vw;
          object-fit: contain;
          padding: 0 0 .8rem;
        }

        section {
          background-color: darken($color: #FFF, $amount: 3);
          padding: 1rem;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          h3 {
            @extend %font-main;
            padding: 0 0 .7rem;
          }
  
          a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .counterClass {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Montserrat', serif;
    color: $color-white;
    background-color: $color-blue;
    border-radius: 20px;
    width: min-content;
    margin: 20px auto;

    button {
      border-radius: 50%;
      background-color: $color-blue;
      border: none;
      font-size: 1.5rem;
      margin: 0 1rem;
    }

    p {
      font-size: 1.3rem;
      padding: 0 .5rem;
    }
  }

  .ItemDetailContainer {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-white;
    margin: 0 auto;
    padding: 0 0 5vh;
    justify-content: center;
    align-items: center;

    .ItemDetail {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      div {
        height: 100%;
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #EEEEEE;
      }

      img {
        width: 15vw;
      }
    }
  }

  .Categories {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    article {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      
      img {
        width: 10vw;
      }
      .btnVisitar {
        display: flex;
        align-items: center;
      }
    }
  }
}